.header-contents{
    animation: fadeIN 3s;
}
@keyframes fadeIN {
    0% {
        opacity: 0;
    }100% {
        opacity: 1;
    }
}
@media (max-width:1050px) {
    
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}